.logo{
	height: 10vh;
	width: 30%;
	background: lightgray;

}

.content-fill{
	height: 30vh;
	width: 100%;
	background-color: darkgray;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*blog feed styling */


*{
	font-family: 'Raleway', sans-serif;
}

ul{
	list-style: none;
	float: left;
	display: flex;
}

li{
	align-items: center;
	justify-content: center;
	margin-right: 10%;
}
body{
	box-sizing: border-box;
	padding: 0 3%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}
/*all things navigation*/
.hiddenMobile{
	display: none;
}
header {
	position: sticky;
	top: 0;
	overflow: hidden;
	background: grey;
	min-width: 100vw;
	height: auto;
	padding: 2% 0;
	font-size: 16px;
	display: block;
	float: left;
	margin-top: 10%;
	
}
nav > a:hover{
	background: rgba(255, 255, 255, .5);}

nav > a{
	position: relative;
	float: none;
	display: block;
	margin: 0 6%;
	text-decoration: none;
	color: white ;
	font-weight: 500;
}

nav > a:hover{
	color: darkgray;
	font-weight: 900;
}

#project{
	display: grid;
	
	
}

.tech-icon{
	width: 4%;
}

section#contact{
	display: flex;
	flex-direction: row;
}
.info {

	margin-left: 0 25%;
	
}

/* Font Styling */
h2{
	color: grey;
}

h4{
	text-transform: uppercase;
	padding: 3% 0; 
	min-width: 100vw;
	border-bottom: 1px solid black;
	background-size: cover;
	background-position: center;
	margin-top: 0;
	font-size: 20px;
	height: auto;
	display:flex;
	justify-content: center;
	color: grey;
}

footer{
		margin: 10% 0 -5% 0;
		background: lightgray;
		height: auto;
		min-width: 100vw;
		color: white;
	}


/* for icons https://konpa.github.io/devicon/ */
@media only screen and (max-width: 600px){
	*{
	box-sizing: border-box;
}
	header{
		margin: 0 5%;
	}
	nav  a {
		display: block;
		/*display:  none;*/
	}
	
}

@media only screen and (min-width:700px){
	a.container{
		display: none;
	}
	nav.links{
		display: flex; 
		flex-direction: row;
		padding: 0 40%;
	}
}